.sidePanel {
  width: 40%;
  background-color: #2c2c2c;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.categorySelector {
  margin-bottom: 20px;
}

.regionInfo {
  margin-top: 20px;
  font-size: 14px;
  color: #008080;
}

.regionName {
  font-weight: bold;
  margin-bottom: 5px;
}

.regionCode {
  color: #008080;
}

.categorySelector select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #3c3c3c;
  color: #008080;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #444;
}

.infoItem label {
  font-weight: bold;
  color: #008080;
} 